<div class="route">
    <div class="columns is-mobile is-multiline" *ngIf="carregando">
        <div *ngFor="let a of [].constructor(12)" 
            class="column is-6-mobile is-4-tablet is-2-desktop is-2-widescreen is-2-fullhd">
            <div class="skeleton-loader"></div>
        </div>
    </div>

    <div class="columns is-mobile is-multiline" *ngIf="!carregando && filmes.length > 0">
        <ng-container *ngFor="let filme of filmes; let i = index">
            <div [id]="i" class="column is-6-mobile is-4-tablet is-2-desktop is-2-widescreen is-2-fullhd"
                (click)="abrirPreview(filme, i)">
                <img [src]="'https://image.tmdb.org/t/p/w300' + filme.detalhes.poster" class="poster pointer"
                    [alt]="filme.nome" />
            </div>


            <div [id]="'preview-' + i" class="columns is-multiline is-gapless preview" *ngIf="i == preview.index">
                <div class="column is-5-fullhd">
                    <div class="column is-12">
                        <div>
                            <span class="is-size-4 pointer" style="padding: 0px;"
                                (click)="fecharPreview()">&#10005;</span>
                            <h1 class="title has-text-centered">{{preview.detalhes.titulo}}</h1>
                        </div>

                        <div class="tabs is-centered">
                            <ul>
                                <li [ngClass]="{'is-active': preview.visualizacao == 'sinopse'}">
                                    <a [routerLink]="" (click)="trocarVisualizacao('sinopse')">Poster</a>
                                </li>
                                <li [ngClass]="{'is-active': preview.visualizacao == 'horarios'}">
                                    <a [routerLink]="" (click)="trocarVisualizacao('horarios')">Horários</a>
                                </li>
                                <li [ngClass]="{'is-active': preview.visualizacao == 'trailer'}">
                                    <a [routerLink]="" (click)="trocarVisualizacao('trailer')">Trailer</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="has-text-centered is-size-5" style="margin-bottom: 1em;">
                        <span title="Duração">{{preview.duracao}}
                            <span class="contraste">min</span>
                        </span>

                        <span title="Nota">{{preview.nota}}
                            <span class="contraste">&#9733;</span>
                        </span>

                        <span title="Data de lançamento">
                            {{preview.dataLancamento | date: 'dd'}}
                            <span class="contraste">/</span>
                            {{preview.dataLancamento | date: 'MM'}}
                            <span class="contraste">/</span>
                            {{preview.dataLancamento | date: 'yyyy'}}
                        </span>
                    </div>

                    <p style="margin-left: 1em;margin-right: 1em;margin-bottom: 1em;">
                        {{preview.detalhes.descricao}}
                    </p>
                </div>

                <div class="column is-7-fullhd">
                    <div id="sinopse" *ngIf="preview.visualizacao == 'sinopse'">
                        <img [src]="'https://image.tmdb.org/t/p/w1280' + preview.detalhes.backdrop" class="imagem-preview"
                            [alt]="preview.nome" (error)="carregarImagem = false" *ngIf="carregarImagem" />
                    </div>

                    <div id="horarios" class="columns is-multiline" *ngIf="preview.visualizacao == 'horarios'"
                        style="margin-left: 1em;margin-top: 0.3em;">
                        <div class="column is-4" *ngFor="let cinema of preview.cinemas">
                            <div>
                                <h2 class="is-size-5" style="color:white;">{{cinema.nome}}</h2>
                                <div *ngFor="let key of keys(cinema)" style="margin-left: 1em;color: #5CC849;">
                                    {{key}}
                                    <div style="margin-left:1em;">
                                        <span *ngFor="let horario of cinema[key]" style="padding: 0.2em;">
                                            {{horario.hora}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="trailer" class="video-container" *ngIf="preview.visualizacao == 'trailer'">
                        <iframe title="Trailer" width="853" height="280" allowFullScreen
                            [src]="limparUrl('https://www.youtube.com/embed/' + preview.detalhes.trailer)"></iframe>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>