<div class="route">
    <div class="has-text-centered" style="color: white;">
        <i class="fa fa-frown-o" aria-hidden="true" style="font-size: 4em;margin-top: 1em;color: #5CC849"></i>
        <div style="font-size: 2em">Cancelamento realizado com sucesso!</div>

        <div>
            Você não receberá mais emails na sua caixa de mensagem
        </div>

        <div>
            <a [routerLink]="'/'" class="button is-primary" style="margin-top: 10px;">
                <i class="fa fa-home"></i>
                Home
            </a>
        </div>
    </div>
</div>>