@import "~ng-snotify/styles/material.css";

html, body, .route {
    min-height: 100%;
    background-color: #363636 !important;
}

.route {
    margin-top: 3.5em;
}

.pointer {
    cursor: pointer;
}

.poster {
    box-shadow: 0 0 20px black
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabs li.is-active a {
    border-bottom-color: #47b135 !important;
    color: #5CC849 !important;
}

.snack {
    border: 3px solid #47b135 !important;
    border-radius: 10px !important;
}

.skeleton-loader {
    width: 100% !important;
    height: 20em !important;
    border-radius: 5px !important;
    background-color: #262626 !important;
    border-color: #262626 !important;
}

.navbar-dropdown {
    background-color: #1A1A1A !important;
}

.navbar-item:hover {
    background-color: #363636 !important;
}

.navbar-link:hover {
    background-color: #363636 !important;
}

.fundo-verde {
    background-color: #5CC849 !important;
}